@tailwind components;

@layer components {
    .card-wrapper {
        @apply w-full h-full relative flex flex-col justify-between cursor-pointer border-b border-neutral-200;
        @apply duration-[400ms] hover:shadow-[0_12px_25px_rgba(0,0,0,0.35)] ease-[cubic-bezier(0.2,0.8,0.4,1)];
    }
    .card-thumbnail {
        @apply relative w-full aspect-[4/3] object-cover;
    }
    .card-title {
        @apply text-base font-medium text-black tracking-wide mt-1;
    }
    .card-description {
        @apply text-xs font-light text-[#6C757D] !mb-3;
    }
    .card-info {
        @apply text-xs font-light text-[#97989F] text-left mt-4;
    }
    .card-info::before {
        @apply content-[""] block w-1/3 h-0.5 bg-[#CED4DA] mb-2 ;
    }
    .card-info b {
        @apply text-[#212529];
    }
}