@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-black min-h-[100dvh] bg-light;
}

@layer base {
  .main-container {
    @apply ml-[20%] w-[768px] flex-shrink-0;
  }

  .page-content {
    @apply relative mt-14 mr-16 mb-14 flex gap-32;
  }

  .hero-bg {
    @apply absolute inset-0 w-full h-full -z-10 object-cover;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-light mb-10 leading-loose tracking-wider;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-2xl;
  }
  p {
    @apply text-lg font-light leading-relaxed tracking-wide mb-10;
  }
  strong {
    @apply font-bold;
  }
  em {
    @apply font-extralight tracking-wider;
  }
  blockquote {
    @apply bg-white border-l-4 border-gray p-4 italic tracking-wider font-mono text-xl mb-10;
  }
  blockquote p {
    @apply m-0;
  }
  code {
    @apply  bg-light-gray text-gray p-4 tracking-wide font-extralight;
  }
}

@layer utilities {
}
