@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  
  body {
    @apply text-black min-h-[100dvh] bg-light;
  }

  .main-container {
    @apply  w-full flex-shrink-0;
  }

  .page-content {
    @apply relative mt-14 mb-14 px-8 mx-auto max-w-[960px] flex-shrink-0;
  }

  .page-content h1 {
    @apply text-2xl font-extralight mb-4;
  }

  .article-formatted {
    @apply prose prose-lg prose-emerald prose-headings:tracking-wider prose-headings:font-normal prose-headings:leading-snug;
    @apply prose-h1:italic;
  }

  .article-formatted img {
    @apply cursor-zoom-in;
  }

  .button-primary {
    @apply text-sm text-white min-w-fit h-full px-4 py-2 bg-black cursor-pointer rounded-md hover:bg-[#3E454D];
  }

  .button-primary:disabled {
    @apply bg-light-gray cursor-not-allowed;
  }
}

@layer utilities {
}
