@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  
  body {
    @apply text-black min-h-[100dvh] bg-light;
  }

  .main-container {
    @apply  w-full flex-shrink-0 ;
  }

  .page-content {
    @apply relative mt-14 mb-14 mx-8 lg:ml-[15%] max-w-[768px];
  }

  .hero-bg {
    @apply absolute inset-0 w-full h-full -z-10 object-cover;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-light my-5 leading-loose tracking-wider;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-2xl;
  }
  p {
    @apply text-lg font-light leading-relaxed tracking-wide mb-2 text-justify;
  }
  strong {
    @apply font-bold;
  }
  em {
    @apply font-extralight tracking-wider;
  }
  blockquote {
    @apply bg-white border-l-4 border-gray p-4 italic tracking-wider font-mono text-xl mb-2;
  }
  blockquote p {
    @apply m-0;
  }
  code {
    @apply  bg-light-gray text-gray tracking-wide font-extralight;
  }
  pre:has(code) {
    @apply  bg-light-gray text-gray tracking-wide font-extralight p-2;
  }
}

@layer utilities {
}
